# Ignore Go binaries and build output
/bin/
/build/
/dist/
*.exe
*.dll
*.so
*.dylib

# Ignore Go vendor directory
/vendor/

# Dependency directories
Gopkg.lock
Gopkg.toml

# VS Code settings
.vscode/

# MacOS + Linux system files
.DS_Store

# Environment variable files
.env
.env.*


# Logs
*.log

# IDE/editor junk
.idea/
*.swp
*.swo
*~

*tar.gz
